/* ================================================== */
/*  Windows (LogWindow)                               */
/* ================================================== */

/* LogWindow */
QTableView#logTableView {
    background: #1D1F26;
}
